.container-fluid{
    background-color: rgba(22,31,53,0.97);
}
.prime-image{
    width: 150px;
    height: 70px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.terms{
    color: skyblue;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
    text-align: center;
}
.footer-tags{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 90px;
}
.affiliates{
    color: skyblue;
    padding-top: 35px;
    padding-left: 30px;
}