.prime-image{
    width: 180px;
    height: 70px;
}
.navbar{
    background-color: rgba(22,31,53,0.97);
}
.btn{
    margin: 10px;
    font-weight: bold;
}
.container-fluid{
    width: 100vw !important;
}