.prime-image{
    width: 150px;
    height: 100px;
    margin-left: 90px;
}
input:focus{
    border: 3px solid rgb(250,179,46);
}
.btn{
    background-color: rgb(250,179,46);
    width: 370px;
    margin-top: 30px;
}
.continue{
    font-size: 12px;
    padding-top: 15px;
}
.conditions{
    color: rgb(39,182,201);
    cursor: pointer;
}
.new{
    font-size: 13px;
}
.newAccount-btn{
    padding-left: 100px;
    padding-right: 110px;
    border: 1px solid gray;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}
.signIn{
    padding-left: 5px;
    text-decoration: none;
    color: rgb(39,182,201);
}
.error{
    border: 1.5px solid red;
}
.errors{
    color: red;
}