.container-fluid{
    height: auto;
    overflow: hidden;
}
.row-image{
    max-height: 250px;
    max-width: 250px;
    object-fit: contain;
    margin: 5px;
}
.filterMovies{
    height: auto;
    cursor: pointer;
    display: grid;
    overflow: hidden;
    grid-template-columns: auto auto auto auto;
    
}