nav{
    padding: 0px;
    margin: 0px;
}
// .container-fluid{
//     background-color: black;
// }
.prime-image{
    width: 150px;
    height: 70px;
}
.nav-link{
    margin: 10px;
}
.btn-info{
    margin: 5px;
    font-weight: bold;
}
.navbar{
    background-color: rgba(22,31,53,0.97);
}