.movie-image{
    height: 400px;
}
.movieName{
    font-size: 40px;
    color: skyblue;
    font-weight: bold;
}
.cast-img{
    height: 100px;
    width: 100px;
}
.backBtn{
    border-radius: 100%;
}
.wishlist{
    float: right;
    margin: 20px;
   
}