.container-fluid{
    background-color: black;
}

.movies-image{
    width: 500px;
    height: 300px;
    // margin-left: auto;
    padding: 15px;
}
.prime-login{
    padding: 15px;
    margin: 40px;
}
.btn-info {
    font-weight: bold;
}
.prime-tag{
    font-size: 18px;
}
.entertainment{
    padding: 20px;
}
.entertainment-image{
    width: 550px;
    padding: 28px;
}

.image-1{
    width: 150px;
    margin-left: 80px;
}
.image-2{
    width: 250px;
    // margin-left: 30px;
}
.image-3{
    width: 200px;
    padding-left: 50px;

}